node_modules
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

build

whisper.cpp


# Ignore contents of these folders but keep the folders
public/audios/*
public/videos/*
public/scripts/*
public/captions/*

# But do NOT ignore the folders themselves
!public/audios/.gitkeep
!public/videos/.gitkeep
!public/scripts/.gitkeep
!public/captions/.gitkeep